@import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");

body {
  background: black;
  color: white;
  font-family: "Special Elite", cursive;
  background-image: url("https://static.vecteezy.com/system/resources/previews/001/664/364/original/bloody-red-grunge-abstract-texture-background-free-vector.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
.body-quiz {
  font-family: "Special Elite", cursive;
  background: linear-gradient(90.04deg, #e1210485 0.03%, #360b12b3 99.96%);
  color: #11052c;
  display: flex;
  justify-content: center;
  margin: 0px;
  margin-left: 200px;
  margin-right: 200px;
  box-shadow: 10px 10px 116px 51px rgba(0,0,0,0.75);
  border-radius: 1000px;

  
}

.quiz-container {
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 450px;
  min-width: 150px;
  background: #ffffffe5;
  border-radius: 4px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 30px 60px;
}

.quiz-container .active-question-no {
  font-size: 32px;
  font-weight: 500;
  color: #bd0707;
}

.quiz-container .total-question {
  font-size: 16px;
  font-weight: 500;
  color: #424142;
  
}

.h2 {
  font-size: 23px;
  font-weight: 500;
  margin: 0;
  margin-top: 8px;
  color: #2d264b
}

.quiz-container ul {
  margin-top: 20px;
  margin-left: -40px;
}

.quiz-container ul li {
  text-decoration: none;
  list-style: none;
  color: #2d264b;
  font-size: 16px;
  background: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 16px;
  padding: 11px;
  margin-top: 15px;
  cursor: pointer;
}

.quiz-container ul .selected-answer {
  background: #e6aab1b0;
  border: 1px solid #7b2005;
}

.quiz-container button {
  background: linear-gradient(90.04deg, #241414e5 0.03%, #b00101fc 99.96%);
  border-radius: 9px;
  font-size: 18px;
  color: #ffffff;
  padding: 10px 42px;
  outline: none;
  border: none;
  cursor: pointer;
  margin-top: 15px;
  font-family: "Special Elite", cursive;
}

.quiz-container button:disabled {
  background: #e7e8e9;
  color: #9fa3a9;
  cursor: not-allowed;
}

.flex-right {
  display: flex;
  justify-content: flex-end;
  color: #11052c;
}

.result h3 {
  font-size: 26px;
  letter-spacing: 1.4px;
  text-align: center;
  color: #11052c;
  font-weight: bold;
}

.result p {
  font-size: 17px;
  font-weight: 500;
  color: #11052c;
}

.result p span {
  color: #700c0c;
  font-size: 22px;
  color: #11052c;
}

/* .question-section {
  width: 100%;
  position: relative;
} */

/* .question-text {
  margin-bottom: 12px;
  font-family: "Special Elite", cursive;
  color: black;
}

.answer-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.quiz-button {
  width: 100%;
  font-size: 16px;
  color: #ffffff;
  background-color: black;
  border-radius: 15px;
  display: flex;
  padding: 5px;
  justify-content: flex-start;
  align-items: center;
  border: none;
  cursor: pointer;
} */

.suspect-pic {
  width: 100%;
  height: auto;
}

/* .newspaper > img {
  max-width: 1200px;
  max-height: 1200px;
  overflow: ;
} */

.cases > img {
  max-width: 400px;
  max-height: 400px;
  cursor: pointer;
}

.title-section {
  padding: 20px;
  margin: -10px;
  border: 0;
}

.hero-title {
  color: white;
  font-family: "Special Elite", cursive;
  font-size: 72px;
  text-align: center;
  letter-spacing: 0.5rem;
  text-shadow: 2px 2px 8px #000000;
}

.hero-section {
  text-align: center;
  font-size: 30px;
  margin-top: 30px;
}

.case-intro {
  color: black;
  font-family: "Special Elite", cursive;
}

.img-newspaper {
  display: block;

  margin-left: auto;
  margin-right: auto;
  width: 50%;
  position: absolute;

  top: 50%;
  left: 50%;

  margin: -263px 0 0 -358px;
  opacity: 0;

  /* Configure the animation for Firefox */
  animation-duration: 15s;
  animation-name: spin;
  animation-timing-function: linear;

  /* Configure it for Chrome and Safari */
  animation-duration: 15s;
  animation-name: spin;
  animation-timing-function: linear;
}

@keyframes spin {
  0% {
    opacity: 0.2;
    -moz-transform: scale(0.2) rotate(0deg);
  }

  15% {
    opacity: 1;
    margin: -263px 0 0 -358px;
    -moz-transform: scale(1) rotate(1090deg);
  }

  90% {
    opacity: 1;
    top: 50%;
    -moz-transform: scale(1) rotate(1060deg);
  }

  100% {
    top: 500%;
    opacity: 1;
    -moz-transform: scale(1) rotate(0deg);
  }
}

@keyframes spin {
  0% {
    opacity: 0.2;
    -webkit-transform: scale(0.2) rotate(0deg);
  }
  15% {
    opacity: 1;
    margin: -263px 0 0 -358px;
    -webkit-transform: scale(1) rotate(1090deg);
  }
  90% {
    opacity: 1;
    top: 50%;
    -webkit-transform: scale(1) rotate(1060deg);
  }

  100% {
    top: 500%;
    opacity: 1;
    -webkit-transform: scale(1) rotate(0deg);
  }
}

button {
  cursor: pointer;
  background-color: #000000;
  font-family: "Special Elite", cursive;
  font-size: 20px;
  color: white;
  border-radius: 16px;
  border: none;
  padding: 10px;
}

.tips {
  display: block;
  background: black;
  color: white;
  margin-top: 20px;
  text-decoration: underline;
}

.suspect1 {
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 2rem;
  background: #f8f3e8;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  margin-left: -10px;
}
.suspect2 {
  display: flex;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 2rem;
  background: #f8f3e8;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  margin-left: 10px;
}
.suspect3 {
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 2rem;
  background: #f8f3e8;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  margin-left: 10px;
}
.suspect4 {
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 2rem;
  background: #f8f3e8;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  margin-left: 10px;
}

.suspect-intro {
  padding: 0%;
  color: black;
  font-size: 1rem;
  text-align: center;
}

.suspects-title {
  text-align: center;
  font-size: 50px;
}

.second-section {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  padding: 80px;
}
.second-section > p {
  font-size: 26px;
  margin-top: -360px;
  margin-left: 700px;
}

.coding-img {
  max-width: 500px;
  max-height: 500px;
  border-radius: 5px;
}
.last-section {
  margin-top: 50px;
}

.last-section > p {
  font-size: 26px;
}

.cases {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  background-color: white;
  border-radius: 16px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #f8f3e8;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}
.cases-button {
  display: block;
}
.cases-content {
  display: block;
  color: #000000;
}

.cases > p {
  color: black;
}

.cases > img {
  max-width: 250px;
  max-height: 250px;
  border-radius: 3px;
}
.cases > h4 {
  color: black;
}
.cases > h5 {
  color: black;
}
.work-case {
  margin-top: 10px;
}
.suspects {
  display: flex;
  /* grid-template-rows: 1;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 3px; */
  justify-content: space-between;
  padding: 3rem;
}

.suspect1 > h2 {
  margin-top: 1rem;
  font-weight: normal;
  font-size: 2rem;
  color: black;
  text-align: center;
}
.suspect2 > h2 {
  margin-top: 1rem;
  font-weight: normal;
  font-size: 2rem;
  color: black;
  text-align: center;
}

.suspect3 > h2 {
  margin-top: 1rem;
  font-weight: normal;
  font-size: 2rem;
  color: black;
  text-align: center;
}

.suspect4 > h2 {
  margin-top: 1rem;
  font-weight: normal;
  font-size: 2rem;
  color: black;
  text-align: center;
}

.img-reveal {
  max-width: 250px;
  max-height: 250px;
}
.img-newspaper {
  overflow: scroll;
}
.susp-list {
  color: black;
}
